*{
    margin: 0;
    padding: 0;
}
body{
    height: 1000px;
}
.header{
    background-color: #fbd600;
    padding-top: 12px;
    padding-bottom: 12px;
}
.navbar{
    max-width: 1280px;
    margin: auto;
    display: flex; /* сделали элемент гибким*/
    justify-content: space-between;
    align-items: center;
}
.header-image{
    height: 75px;
    width: 210px;
    margin-right: 300px;
  
}
.navbar-menu{
    margin: 0;
    padding: 0;
    list-style: none; /* отключаем точки у списка*/
    display: flex;
    text-align: center;
    font-weight: 600;
}
.navbar-item{
    margin-left: 50px;
    margin-right: 50px;
    font-size: large;
}
.navbar-link{
    text-decoration: none;
    color: black;
}
.main-head{
    max-width: 1280px;
    margin-left: 300.5px;
  /*  padding-top: 54px; */
    display: flex;
    padding-left: 90px;
}
.inspire{
    margin-bottom: 20px;
}
.simple{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 550;
}
.tel1{
    height: 450px;
    display: inline;
    padding-left: 400px;
}
.lorem{
    margin-top: 20px;

}
.main-text{
    flex-direction: column;
    padding-top: 30px;
    
}
.apple{
    width: 40px;
    height: 40px;
}
.android{
    width: 40px;
    height: 40px;
}
.windows{
    width: 40px;
    height: 40px;
}
.icon-head{
    margin-top: 20px;
}
.tel-head{
    margin-right: 200px;
}
.radiobut{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    
}
.radio11{
    margin-right: 20px;
}
.radio22{
    margin-right: 20px;
}
.radio33{
    margin-right: 20px;
}